
.player{
	position : fixed;
	top      : 0px;
	z-index  : @playerIndex;
	height   : @topSectionHeight;
	width    : 100%;
	.container{
		position : relative;
		height   : 100%;
		width    : 100%;
	}
	.itemBanner{
		position         : absolute;
		bottom              : 125px;
		width            : 100%;
		background-color : white;
		text-align       : center;
		padding : 10px 20px;
		.name{
			font-size : 2.5em;
			margin-bottom: 15px;
		}
		.desc{
			font-size: 0.8em;
		}
	}
	.hoverItem{
		position: absolute;
		z-index : @playerIndex + 5;
		top : 175px;
		left : 50%;
		text-align: center;
		.transform(translateX(-40px));

		.itemIcon{
			position: absolute;
			top : 45%;
			left : 50%;
			.transform(translateY(-50%) translateX(-50%));

		}
		img{
			width : 130px;
		}
	}

	.sprite{
		.transform(translateY(-50%) translateX(-50%));
		top  : @topSectionHeight;
		left : 50%;
	}
}