
.topSection{
	position        : absolute;
	z-index         : @topSectionIndex;
	height          : @topSectionHeight;
	width           : 100%;
	background-size : auto 100%;
	color           : white;
	text-align      : center;
	.backgroundScrollAnimation();
	&.night{
		background-image : url('/assets/lpdoc/topSection/night.jpg');
	}
	&.day{
		background-image : url('/assets/lpdoc/topSection/day.jpg');
	}
	&.dawn, &.dusk{
		background-image : url('/assets/lpdoc/topSection/dusk.png');
	}
	.title{
		margin-top          : 5px;
		font-size           : 3em;
		text-outline        : 2px 2px white;
		-webkit-text-stroke : 1px white;
	}
	.subtitle{
		margin-top: 15px;
	}
	.topPercentage{
		.transform(translateX(-45px));
		position   : absolute;
		bottom     : 10px;
		left       : 50%;
		z-index    : @playerIndex + 5;
		text-align : center;
		div{
			.transform(translateY(-50%) translateX(-50%));
			position  : absolute;
			top       : 45%;
			left      : 50%;
			font-size : 4em;
		}
		img{
			width : 150px;
		}
	}
	.startMessage{
		.startMessageAnimation();
		position    : absolute;
		right       : 0px;
		bottom      : -50px;
		z-index     : @topSectionIndex + 50;
		width       : 250px;
		line-height : 1.5em;
		text-align  : center;
		.downArrow{
			width      : 50px;
			margin-top : 10px;
		}
	}
	.bottomGradient{
		.gradientVertical(transparent, black);
		position : absolute;
		bottom   : 0px;
		height   : 50px;
		width    : 100%;
	}
}
.startMessageAnimation(){
	.vendor(animation-iteration-count, infinite);
	.createAnimation(startMessage, 2s, linear);
	.startMessageKeyFrames(){
		0%   { .transform(translateY(0px))}
		50%  { .transform(translateY(20px))}
		100% { .transform(translateY(0px))}
	}
	@-webkit-keyframes startMessage {.startMessageKeyFrames();}
	@-moz-keyframes startMessage {.startMessageKeyFrames();}
	@-ms-keyframes startMessage {.startMessageKeyFrames();}
	@-o-keyframes startMessage {.startMessageKeyFrames();}
	@keyframes startMessage {.startMessageKeyFrames();}
}

.backgroundScrollAnimation(){
	.vendor(animation-iteration-count, infinite);
	.createAnimation(backgroundScroll, 60s, linear);
	.backgroundScrollKeyFrames(){
		0%   { background-position: 0 0}
		100% { background-position: 1200px 0}
	}
	@-webkit-keyframes backgroundScroll {.backgroundScrollKeyFrames();}
	@-moz-keyframes backgroundScroll {.backgroundScrollKeyFrames();}
	@-ms-keyframes backgroundScroll {.backgroundScrollKeyFrames();}
	@-o-keyframes backgroundScroll {.backgroundScrollKeyFrames();}
	@keyframes backgroundScroll {.backgroundScrollKeyFrames();}
}